@model IEnumerable<GovEgy_2.Models.ServiceType>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.servicetype1)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.servicetype1)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.S_Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.S_Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.S_Id })
        </td>
    </tr>
}

</table>
